@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Black.eot')
	src url('./fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Black.woff') format('woff'),url('./fonts/SFUIDisplay-Black.ttf') format('truetype'),url('./fonts/SFUIDisplay-Black.svg') format('svg')
	font-weight 900



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Bold.eot')
	src url('./fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Bold.woff') format('woff'),url('./fonts/SFUIDisplay-Bold.ttf') format('truetype'),url('./fonts/SFUIDisplay-Bold.svg') format('svg')
	font-weight 700


@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Bold.eot')
	src url('./fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Bold.woff') format('woff'),url('./fonts/SFUIDisplay-Bold.ttf') format('truetype'),url('./fonts/SFUIDisplay-Bold.svg') format('svg')
	font-weight 700



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Heavy.eot')
	src url('./fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Heavy.woff') format('woff'),url('./fonts/SFUIDisplay-Heavy.ttf') format('truetype'),url('./fonts/SFUIDisplay-Heavy.svg') format('svg')
	font-weight 800



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Light.eot')
	src url('./fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Light.woff') format('woff'),url('./fonts/SFUIDisplay-Light.ttf') format('truetype'),url('./fonts/SFUIDisplay-Light.svg') format('svg')
	font-weight 200



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Medium.eot')
	src url('./fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Medium.woff') format('woff'),url('./fonts/SFUIDisplay-Medium.ttf') format('truetype'),url('./fonts/SFUIDisplay-Medium.svg') format('svg')
	font-weight 500



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Regular.eot')
	src url('./fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),url('./fonts/SFUIDisplay-Regular.woff') format('woff'),url('./fonts/SFUIDisplay-Regular.ttf') format('truetype'),url('./fonts/SFUIDisplay-Regular.svg') format('svg')
	font-weight 400



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Semibold.otf')
	font-weight 600



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Thin.otf')
	font-weight 300



@font-face
	font-family 'SF Display'
	src url('./fonts/SFUIDisplay-Ultralight.otf')
	font-weight 100

