mixin slider()
	+b.slider
		+b.swiper-container
			+b.swiper-wrapper
				//+b.swiper-slide
				//+b.swiper-slide
				//+b.swiper-slide
			+b.swiper-button-prev
			+b.swiper-button-next

			//+b.swiper-pagination
			//+b.swiper-scrollbar
