.subscription
	position relative
	display flex
	align-items center
	span(1/2)
	height 100%
	+below(1920px)
		stack()
		height 380px

	&__container
		position relative
		z-index 2
		display flex
		flex-direction column
		size(100%,50%)
		background-color rgba(245,240,234,.5)
		padding-left 37.5%
		padding-top 4.8%
		+below(1920px)
			size(100%,100%)
			align-items center
			padding-top 75px
			padding-left 0

	&__container::after
		content ""
		display block
		position absolute
		top 50%
		transform translateY(-50%)
		z-index 1
		size(5%,70%)
		right: 0
		box-shadow 10px 0 15px -10px #888
		background-color trasparent




	&__bg
		position absolute
		z-index 1
		size(26.1%, 72.4%)
		left 0
		top 50%
		transform translateY(-50%)
		background-color #f5f0ea
		background-image url("../../accessories_large.png")
		+below(1920px)
			display none


.subcribe-title
	font-weight 400
	font-size 18px
	letter-spacing 1.4px
	margin-bottom 20px


.subcribe-content
	font-weight 600
	font-size 60px
	line-height 72px
	margin-bottom 45px
	+below(1920px)
		text-align center
		font-size 40px
		line-height 48px
		margin-bottom 40px

.subcribe-buttom
	display inline-block
	width 167px
	font-size 15px
	line-height 15px
	font-weight 400
	letter-spacing 2.4px

	color white
	padding 18px 25px
	background-color #ce477d

	border-radius 5px
