mixin subscription()
	+b.subscription
		+e.container
			+b.subcribe-title Бесплатная подписка на 30 дней
			+b.subcribe-content Слушай любимую<br> музыку<br> весь месяц
			+b('a').subcribe-buttom(href="#") Подписаться
		+e.bg
